* {
    margin: 0;
    padding: 0;
}

main {
    
    width: 90vw;
    margin: 0 auto;
}
/* ________________________________________________________BARRE___________________________ */

#barre {
    margin: 50px 30px 30px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ---------------------------------------- */
#filtre {
    height: 50px;
    width: 500px;
    padding: 0px 10px;
    font-size: 1.2rem;
    border: 3px dashed red;
    border-radius: 20px;
}

/* ---------------------------------------- */
#barre label {
    
    padding: 10px;
    background: rgb(209 209 209);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
}

#lien {
    height: 30px;
    width: 120px;
    border: 2px solid red;
    
}

/* ________________________________________________________AJOUT___________________________ */

#ajout {
    margin: 0px 10px;
    margin-bottom: 50px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    background: rgb(209 209 209);
}

#ajout h3 {
    font-family: 'Work Sans', sans-serif;
}

#ligneAjout{
    display: flex;
    align-items: center;
}

#ligneAjout p {
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 30px;
    width: 100px;
    margin-left: 5px;
    font-size: 1rem;
    background: whitesmoke;
    border: 2px solid black;
}

#addBTN {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    width: 100px;
    padding: 3px;
    margin-right: 20px;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    color: whitesmoke;
    text-shadow: 2px 2px 2px #000000;
    user-select: none;
    cursor: pointer;
    border-radius: 10px;
    background: rgb(99, 99, 99);
    background: linear-gradient(180deg, rgb(29, 47, 109) 0%, rgb(0, 78, 194) 100%);
    box-shadow: 1px 1px 2px 1px #000000, inset 3px 3px 10px 0px #ffffff,5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition: 0.1s;
}

#addBTN:hover {
    transform: scale(115%);
    background: red;
    transition: 0.1s;
}

/* ________________________________________________________TABLE___________________________ */

.on {
    visibility: visible;
}

.off {
    visibility: hidden;
}

#table {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px 10px;
    padding-bottom: 20px;
    border: 3px solid black;
    background: rgb(99, 99, 99);
    background: linear-gradient(180deg, rgb(29, 47, 109) 0%, rgb(0, 78, 194) 60%, rgba(255,255,255,1) 100%);
}

/* ---------------------------------------- */
#tete {
    display: flex;
    padding: 0px 10px 10px 10px;
    overflow: hidden;
}

#tete h2 {
    flex: 1;
    margin: 0px 1px 10px 1px;
    padding: 10px 30px;
    text-align: center;
    font-size: 2rem;
    transition: 0.1s;
    font-family: 'Work Sans', sans-serif;
    color: whitesmoke;
    text-shadow: 2px 2px 0 #000000;
    user-select: none;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.377);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 3px 5px 2px #000000, inset 3px 3px 10px 0px #ffffff,5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#tete h2:hover {
    background: red;
    transition: 0.1s;
    transform: translateY(-10px);
}

/* ---------------------------------------- */
.ligne {
    display: flex;
    padding: 0px 20px;
}

.ligne p {
    display: flex;
    flex: 1;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: whitesmoke;
    border: 1px solid black;
    overflow: auto;
}